/* CSS file for styling of different components*/

/* Loader.. */
.loader {
    display: flex;
    top: 0;
    width: 100vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    transition: opacity 1s, visivility 1s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 60px;
    height: 60px;
    border: 10px solid var(--white);
    border-top-color: var(--blue);
    border-radius: 50%;
    animation: loading 0.5s linear infinite;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
  
}

/*Carousel/slider homepage and about page 
Inspired by Medium: https://medium.com/@algopoint.ltd/how-to-create-a-slideshow-carousel-using-html-css-js-7ab0561b39b3*/


.latest-posts-carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;

}

.latest-posts-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.carousel-items {
    display: flex;
    gap: 20px;
}


.carousel-items h3{
    font-size: var(--fs-normal);
    max-width: 400px;
}

.carousel-items img{
    max-width: 400px;
    height: auto;
}    


