/* CSS file for styling of different components*/

/* Loader.. */
.loader {
    display: flex;
    top: 0;
    width: 100vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    transition: opacity 1s, visivility 1s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 60px;
    height: 60px;
    border: 10px solid var(--white);
    border-top-color: var(--blue);
    border-radius: 50%;
    animation: loading 0.5s linear infinite;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
  
}

/*Carousel/slider homepage and about page 
Inspired by Medium: https://medium.com/@algopoint.ltd/how-to-create-a-slideshow-carousel-using-html-css-js-7ab0561b39b3*/


.latest-posts-carousel {
    padding-top: 30px;
}

.latest-posts-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 44px 0;
    transition: all 0.24s ease-in;
}

.latest-posts-view .carousel-items {
    display: flex;
    gap: 48px;
    scroll-behavior: smooth;
    transition: all 0.25s ease-in;
    -ms-overflow-style: none;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.carousel-items::-webkit-scrollbar {
    display: none;
}

.carousel-items img{
    scroll-snap-align: center;
    min-width: 120px;
    height: 120px;
}  

.carousel-items h3{
    font-size: var(--fs-normal);
    max-width: 400px;
}

.carousel-items img{
    max-width: 400px;
    height: 500px;
}    

/*Styling of Modal*/
/* Inspired by https://dev.to/salehmubashar/create-an-image-modal-with-javascript-2lf3*/


.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 0;
    animation: zoom 0.4s ease-in-out;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.modal img {
    height: 95%;
}

.closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--blue);
}

