/* CSS file for styling of contact page*/

.contact {
    margin: auto;
    max-width: 600px;
}

.contact-intro {
    padding-bottom: 14px;
    margin-top: 100px;
}

.contact-content {
    font-weight: bold;
}

.contact-content div{
    padding-bottom: 20px;
}

.contact-content input,
.contact-content textarea {
    margin-top: 10px;
    width: 585px;
}

.contact-content textarea {
    resize: none;
    height: 150px;
    padding-top: 10px;
}

.contact-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.form-error {
    display: none;
    color: red;
    padding-top: 10px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

fieldset {
    border: solid 1px var(--black);
    border-radius: 4px;
    padding-top: 20px;
}

.input-field {
    display: flex;
    flex-direction: column;
    align-items: left;
}

#name,
#email,
#subject,
#message {
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

