/* CSS file for styling of contact page*/

.contact {
    margin: auto;
    max-width: 600px;
}

.contact-intro {
    padding-bottom: 14px;
}

.contact-content {
    font-weight: bold;
}

.contact-content div{
    padding-bottom: 20px;
}

.contact-content input,
.contact-content textarea {
    margin-top: 10px;
    width: 585px;
}

.contact-content textarea {
    resize: none;
    height: 150px;
    padding-top: 10px;
}

.contact-button {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

