


/* Styling of button in general*/
button {
    height: 40px;
    width: 110px;
    border: solid 1.5px var(--blue);
    border-radius: 4px;
    background-color: var(--white);
    color: var(--blue);
    font-size: var(--fs-btn);
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    height: 40px;
    width: 110px;
    border: solid 1.5px var(--blue);
    border-radius: 4px;
    background-color: var(--blue);
    color: var(--white);
    font-size: 14px;
    font-weight: bold;
}


/*Styling view more button*/

#view-more-btn {
    
}


/* Carousel/slider button*/

.left-btn,
.right-btn {
    border: none;
}

