

footer {
    background-color: var(--beige);
    height: 400px;
    margin-top: 100px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 20px;
}

footer button,
footer input{
    color: var(--black);
    border: solid 1px var(--black);
}

footer input {
    width: 340px;
    height: 25px;
}

footer button,
footer button:hover {
    height: 30px;
    width: 90px;
    font-size: var(--fs-xsmall);
    font-weight: normal;
}

.footer-top,
.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
}

.logo-footer img {
    width: 120px;
}

.footer-top-left p{
    font-size: var(--fs-xsmall);
}

.footer-top-right {
    display: flex;
}

.footer-right-links {
    padding-top: 20px;
    
}

.footer-right-some {
    padding-top: 20px;
}

.footer-right-links h2,
.footer-right-links ul,
.footer-right-some h2{
    font-size: 18px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.footer-right-links li {
    font-size: 14px;
    list-style-type: none;
    padding-top: 15px;
}

.footer-bottom-right {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    text-decoration: underline;
}


