

footer {
    background-color: var(--beige);
}

.footer-content {
    min-height: 400px;
    margin: 100px auto auto;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    max-width: 1200px;
}

footer button,
footer input{
    color: var(--black);
    border: solid 1px var(--black);
}

footer input {
    max-width: 250px;
    height: 25px;
}

footer button,
footer button:hover {
    height: 30px;
    width: 90px;
    font-size: var(--fs-xsmall);
    font-weight: normal;
}

.footer-top,
.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
}

.logo-footer img {
    width: 120px;
}

.footer-top-left p{
    font-size: var(--fs-xsmall);
}

.footer-top-right {
    display: flex;
}

.footer-right-links,
.footer-right-some {
    padding-top: 20px;
    padding-left: 20px;
}

.footer-right-links h2,
.footer-right-links ul,
.footer-right-some h2 {
    font-size: 18px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding: 0;
}

.footer-right-links li,
.footer-right-some li {
    list-style-type: none;
    padding-top: 10px;
    font-size: var(--fs-normal);
}

.footer-bottom-right {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    text-decoration: underline;
}
