/* CSS file for global styling and layout - things that apply to the whole site goes here*/

body {
    margin: 0;
    scroll-behavior: smooth;
    
}

main {
    margin-top: 100px;
    margin: auto;
    max-width: 1200px;
    padding-left: 60px;
    padding-right: 60px;
}

h1,
h2,
h3,
nav {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: var(--fs-large);
}

h2,
h3 {
    font-size: var(--fs-medium);
}

p,
label,
textarea,
input,
legend {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: var(--fs-normal);
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--black);
}

input,
textarea {
    padding-left: 10px;
    height: 40px;
    border: solid 1px;
    border-radius: 4px;
}