/* CSS file for global styling and layout - things that apply to the whole site goes here*/

body {
    margin: 0;
    scroll-behavior: smooth;
    
}

main {
    margin-top: 100px;
    margin-left: 120px;
    margin-right: 120px;
}

h1,
h2,
h3,
nav {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: var(--fs-large);
}

h2,
h3 {
    font-size: var(--fs-medium);
}

p,
label {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: var(--fs-normal);
}

a {
    text-decoration: none;
    color: var(--black);
}

input {
    padding-left: 10px;
    height: 35px;
    width: 600px;
    border: solid 1px;
    border-radius: 4px;
}