/* CSS file for global styling and layout - things that applye to the whole site goes here*/

body {
    margin: 0;
    scroll-behavior: smooth;
}



h1,
h2,
h3,
nav {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: var(--fs-large);
}

h2,
h3 {
    font-size: var(--fs-medium);
}

p {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: var(--fs-normal);
}

a {
    text-decoration: none;
    color: var(--black);
}