/* CSS file for styling reagaring the header */

header {
    background-color: var(--beige);
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    height: 120px;
}

.logo-header img{
    width: 120px;
}

nav {
   display: flex;
   gap: 20px;
   align-items: center;
   font-size: 18px;
   font-weight: bold;
}

