/*CSS file for styling on homepage*/

/*Section: Intro home*/

.intro-content,
.categories-travels,
.categories-recipes,
.categories-reviews {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-top: 100px;
}

.categories-recipes {
    flex-wrap:wrap-reverse;
}


.intro-content-text {
    max-width: 500px;
}

.intro-content-text button{
    margin-top: 10px;
}

.intro-content-image {
    width: 600px;
    height: 440px;
    background-image: url("/assets/images/louis-hansel-07WiD_25UUE-unsplash.jpg");
    border-radius: 4px;
}

/* Section: latest post*/

/*Section: categories*/
.categories-content {
    grid-template-rows: repeat(3, 1fr);
}

.categories-travels {
    grid-row-start: 1;
}

.categories-recipes {
    grid-row-start: 2;
}

.categories-reviews {
    grid-row-start: 3;
}

.categories-travels-image,
.categories-reviews-image,
.categories-recipes-image {
    background-repeat: no-repeat;
    border-radius: 4px;
    height: 400px;
    width: 600px;
}

.categories-travels-text,
.categories-reviews-text,
.categories-recipes-text {
    max-width: 480px;
}

.categories-travels-image {
    background-image: url("/assets/images/jonathan-gallegos-osblobZQL8c-unsplash.jpg");
}

.categories-reviews-image {
    background-image: url("/assets/images/eric-masur-wzbizVctaDM-unsplash.jpg");
}

.categories-recipes-image {
    background-image: url("/assets/images/louis-hansel-K47107aP8UU-unsplash.jpg");
}

/*Section: Newsletter*/
.newsletter {
    margin-top: 100px;
}

.newsletter-content {
    background-color: var(--greige);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    color: var(--blue);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
}

.newsletter h2{
    font-size: var(--fs-normal);
}

.newsletter h3 {
    margin-top: 0;
}

#newsletter-email {
    border: solid 1.5px var(--blue);
    padding-left: 10px;
    margin-bottom: 10px;
}


