
.intro-content,
.latest-posts-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 100px;
}

.intro-content-text {
    grid-column-start: 2;
    grid-column-end: 6;
    max-width: 500px;
}

.intro-content-image {
    max-width: 900px;
    height: 440px;
    grid-column-end: 12;
    grid-column-start: 7;
    background-image: url("/assets/images/louis-hansel-07WiD_25UUE-unsplash.jpg");
    background-repeat: no-repeat;
    border-radius: 4px;
}


#latest-posts-header {
    grid-column-start: 2;
    grid-column-end: 7;
}

.categories-content {
    grid-template-rows: repeat(3, 1fr);
}

.categories-travels,
.categories-recipes,
.categories-reviews {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 100px;
}

.categories-travels {
    grid-row-start: 1;
}

.categories-recipes {
    grid-row-start: 2;
}

.categories-reviews {
    grid-row-start: 3;
}

.categories-travels-image,
.categories-reviews-image {
    grid-column-start: 2;
    grid-column-end: 7;
    background-repeat: no-repeat;
    border-radius: 4px;
    height: 400px;
    max-width: 900px;
}

.categories-travels-text,
.categories-reviews-text {
    grid-column-start: 7;
    grid-column-end: 12;
    max-width: 480px;
}

.categories-travels-image {
    background-image: url("/assets/images/jonathan-gallegos-osblobZQL8c-unsplash.jpg");
}

.categories-reviews-image {
    background-image: url("/assets/images/eric-masur-wzbizVctaDM-unsplash.jpg");
}

.categories-recipes-text {
    grid-column-start: 2;
    grid-column-end: 5;
}

.categories-recipes-image {
    background-image: url("/assets/images/louis-hansel-K47107aP8UU-unsplash.jpg");
    background-repeat: no-repeat;
    height: 400px;
    max-width: 900px;
    border-radius: 4px;
    grid-column-start: 7;
    grid-column-end: 12;
}


.newsletter {
    padding-top: 100px;
    padding-bottom: 100px;
}

.newsletter h2{
    font-size: var(--fs-normal);
}

.newsletter input {
    border: solid 1.5px var(--blue);
}

.newsletter-content {
    background-color: var(--greige);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    color: var(--blue);
}