/* CSS file for media queries*/


@media (max-width: 800px){
    /*Hamburger menu and nav*/
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(4px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 120px;
        flex-direction: column;
        gap: 0;
        background-color: var(--beige);
        width: 100%;
        align-items: end;
        transition: 0.6s;
        padding: 20px 0;
    }
    .nav-menu.active{
        left: 0;
    }
    .nav-item {
     margin: 20px 0;
     margin-right: 60px;

    }
    /*Home page and about*/
    .intro-content,
    .categories-recipes,
    .about-content,
    .about-ad {
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .categories-travels,
    .categories-reviews,
    .about-ad {
        flex-wrap:wrap-reverse;
        margin-top: 50px;
    }
    .intro-content-image,
    .categories-travels-image,
    .categories-reviews-image,
    .categories-recipes-image {
        margin-top: 30px;
    }
    .latest-posts-view {
        padding: 0;
    }
}


@media (max-width: 750px) {
    
    /*Specific post page*/
    .blog-post-main,
    .blog-post-main img {
        width: 450px;
    }
    /*Newsletter homepage*/
    .newsletter-content-text h3{
        font-size: var(--fs-medium-mobile);
    }
}

@media (max-width: 580px) {
    /*Global styling*/
    main,
    .header-content,
    .footer-content {
        padding-left: 20px;
        padding-right: 20px;
    }
    .intro-content,
    .categories-recipes,
    .categories-travels,
    .categories-reviews,
    .about-content,
    .about-ad,
    .latest-posts,
    .intro-blog,
    .blog-post,
    .contact-intro  {
        margin-top: 20px;
    }
    .intro-blog {
        margin-bottom: 20px;
    }
    /*Specific post page*/
    .blog-post-main,
    .blog-post-main img {
        width: 400px;
    }
    /*Home page*/
    #newsletter-email {
        max-width: 300px;
    }
}

@media (max-width: 496px) {
    /*Global*/
    h1 {
        font-size: var(--fs-large-mobile);
    }
    h2,
    h3 {
        font-size: var(--fs-medium-mobile);
    }
    .about-ad-text h2 {
        font-size: var(--fs-large-mobile);
    }

    /*Carousel*/
    .left-btn,
    .right-btn {
        display:none;
    }
    /*Home page*/
    #newsletter-email {
        max-width: 200px;
    }
    /*Specific post page*/
    .blog-post-main,
    .blog-post-main img {
        width: 350px;
    }
}


@media (max-width: 400px) {
    /*Global styling*/
    main,
    .header-content,
    .footer-content {
        padding-left: 10px;
        padding-right: 10px;
    }
    /*Specific post page*/
    .blog-post-main,
    .blog-post-main img {
        width: 350px;
    }
    
    /*Blogs*/
    .intro-blog-filter {
        flex-wrap: wrap;
    }
    /*Specific post page*/
    .blog-post-main,
    .blog-post-main img,
    .blog-post-ad img{
        width: 300px;
    }
}

@media (max-width: 340px) {
    /*Specific post page*/
    .blog-post-main,
    .blog-post-main img,
    .blog-post-ad img{
        width: 250px;
    }
}