/*CSS file for styling of blog post page*/

.blog-post {
    margin-top: 100px;
}

.blog-post-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.blog-post-intro {
    max-width: 1200px;
}

.blog-post-main {
    width: 600px;
}

.blog-post-main h2 {
    font-size: 20px;
}

.blog-post-main img {
    max-width: 600px;
    height: auto;
    cursor: pointer;
}

.blog-post-main li {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: var(--fs-normal);
}

.wp-block-image {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.blog-post-ad {
    width: 350px;
}

.blog-post-ad h2{
    font-size: 28px;
    color: var(--blue);
}

.ad-content {
    position: sticky;
    top: 20px;
}

.blog-post-ad img{
    width: 350px;
    cursor: pointer;
    padding-top: 20px;
}