/*CSS file for styling of blog post page*/

.blog-post-main {
    max-width: 840px;
}

.blog-post-main img {
    width: 600px;
    height: auto;
    cursor: pointer;
}

.blog-post-main li {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: var(--fs-normal);
}